* {
    /* background-color: black; */
    color: whitesmoke;
    margin: 0px;
  }

#s1 {
    background-image: url('media/DSC_0006_extra_cropped.png');
    height: 100vh;
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover; /* per pantalles petites, */
    position: relative;
    background-color: gray;
}

#titletext{
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 16px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background-color: black;
}

#titletext > h1{
    font-size: 5em;
}
#Biografia {
    background-color: black;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Biografia > div > p {
    text-align: center;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.8em;
}

#quisom {
    height: 100vh;
    background-color:  #111;
    display: flex;
}

#quisom > .L {
    float:left;
    background-size: 100% 100%;
    width: 66%;
    display: flex;
}

.responsive{
    max-width:100%;
    max-height:100%;
  }
 
.center{
   position: absolute;
   top: 50%;
   left: 50%; 
   transform: translate(-50%, -50%);
}
 
.parent{
   position: relative;
 }


#quisom > .R {
    float:right;
    width: 34%;
}

#quisom > .R > h2{
    font-size: 2.5em;
    margin-left: 3%;
    margin-top: 5%;
}

.tarja{
    background-color: #151515;
    margin: 10px;
    margin-top: 3%;
    padding: 10px;
    padding-left: 20px;
}

.tarja > h3{
    font-size: 1.8em;
}

.tarja > p {
    font-size: 1.1em;
}

#s4 {
    height: 80vh;
    background-color:  #ccc;
    display: flex;
}

#s4 > .R {
    float:right;
    width: 40%;
    display: flex;
    margin-right: 5%;
}

#s4 > .L {
    float:left;
    width: 60%;
    
}

#s4 > .L> .center{
    position: absolute;
    top: 20%;
    left: 20%; 
    transform: translate(-20%, -20%);
 }

 #s4 > .R> .center{
    position: absolute;
    top: 20%;
    left: 20%; 
    transform: translate(-20%, -20%);
    margin-top: 50px;
    width: 80%;
 }

#s4 > div > div > p {
    font-size: 1.5em;
    color: #111;
}

#s4 > div > div > h2 {
    font-size: 2.5em;
    color: #111;
}

#s5 {
    max-height: 15vh;
    min-height: fit-content;
    padding-bottom: 40px;
}

#s5 > div{
    padding-top: 5%;
}

#s5 > div > h2{
    color: #111;
    font-size: 2.5vw;
    text-align: center;
}

#xarxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#xarxes > img {
    margin: 10px;
    max-height: 15vh;
}

#insta{
    width: 7%;
}

#youtube{
    width: 6.5%;
}

#spotify{
    width: 7%;
}

#s6 {
    height: auto;
    background-color: #111;
    margin-top: 15vh;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#s6 > p{
    color: whitesmoke;
}